@font-face {
    font-family: "OpenSans";
    src: url(../fuentes/OpenSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url(../fuentes/OpenSans-Semibold.ttf);
    font-weight: bold;
    font-style: bold;
}
body{
    width: 1920px;
    height: 1080px;
    background-color: #ffffff;
    margin: 0;
}
.barra{
    float: right;
    background-color: #000;
    top: 0%;
    right: 0%;
    width: 170px;
    height: 1080px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.principal{
    position: absolute;
    top: 43px;
    left: 43px;
    width: 196px;
    height: 44px;
}

.tarjeta{
    position: absolute;
    top: 180px;
    left: 327px;
    width: 884px;
    height: 497px;
}
.texto1{
    font-family: "OpenSans";
    font-style: normal;
    position: absolute;
    font-size: 30px;
    top: 40px;
    left: 1050px;
    width: 230px;
    height: 41px;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px 20px;
    transition: 0.3s ease;
}
.texto1:after {
    content: "";
    display: block;
    width: 146px;
    height: 2px;
    background-color: #050505;
    position: absolute;
    top: 70px;
    left: 60px;
    bottom: -2px;
    opacity: 0;
    transition: 0.3s ease;
}
.texto1:hover:after{
    opacity: 1;
}
.texto2{
    font-family: "OpenSans";
    font-style: normal;
    position: absolute;
    font-size: 30px;
    top: 40px;
    left: 1320px;
    width: 132px;
    height: 41px;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px 20px;
    transition: 0.3s ease;
}
.texto2:after {
    content: "";
    display: block;
    width: 90px;
    height: 2px;
    background-color: #050505;
    position: absolute;
    top: 70px;
    left: 40px;
    bottom: -2px;
    opacity: 0;
    transition: 0.3s ease;
}
.texto2:hover:after{
    opacity: 1;
}
.lupa{
    position: absolute;
    top: 60px;
    left: 1550px;
    width: 27px;
    height: 27px;
}
.carrito{
    position: absolute;
    top: 55px;
    left: 1650px;
    width: 33px;
    height: 32px;
}
.info{
    position: absolute;
    font-family: "OpenSans";
    font-style: bold;
    font-size: 40px;
    top: 861px;
    left: 158px;
    width: 716px;
    height: 55px;
}
.Precio{
    position: absolute;
    font-family: "OpenSans";
    font-style: bold;
    font-size: 27px;
    top: 924px;
    left: 157px;
    width: 139px;
    height: 37px;
}