@font-face {
    font-family: "OpenSans";
    src: url(../fuentes/OpenSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url(../fuentes/OpenSans-Semibold.ttf);
    font-weight: bold;
    font-style: bold;
}
body{
    width: 1920px;
    height: 1080px;
    background-color: #ffffff;
    margin: 0;
}
.barra{
    float: right;
    background-color: #000;
    top: 0%;
    right: 0%;
    width: 170px;
    height: 1080px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.principal{
    position: absolute;
    top: 43px;
    left: 43px;
    width: 250px;
    height: 50px;
}

.tarjeta{
    position: absolute;
    border-radius: 5%;
    top: 180px;
    left: 575px;
    width: 550px;
    height: 300px;
}
.texto1{
    font-family: "OpenSans";
    font-style: normal;
    position: absolute;
    font-size: 40px;
    top: 40px;
    left: 925px;
    width: 307px;
    height: 41px;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px 20px;
}
.texto2{
    font-family: "OpenSans";
    font-style: normal;
    position: absolute;
    font-size: 40px;
    top: 40px;
    left: 1300px;
    width: 176px;
    height: 41px;
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 10px 20px;
}
.texto2:after {
    content: "";
    display: block;
    width: 140px;
    height: 2px;
    background-color: #050505;
    position: absolute;
    top: 90px;
    left: 40px;
    opacity: 1;
}
.lupa{
    position: absolute;
    top: 60px;
    left: 1525px;
    width: 38px;
    height: 38px;
}
.carrito{
    position: absolute;
    top: 55px;
    left: 1650px;
    width: 48px;
    height: 48px;
}
.info{
    position: absolute;
    font-family: "OpenSans";
    font-style: bold;
    font-size: 60px;
    top: 525px;
    left: 350px;
}
.Precio{
    position: absolute;
    font-family: "OpenSans";
    font-style: bold;
    font-size: 40px;
    top: 650px;
    left: 610px;
}
.cuadro1{
    position: absolute;
    background-color: #D5FF43;
    top: 920px;
    left: 1500px;
    width: 180px;
    height: 130px;
    border-radius: 5%;
}
.logito{
    position: absolute;
    top: 950px;
    left: 1520px;
    width: 140px;
    height: 39px;    
}
.texto_recarga{
    position: absolute;
    font-family: "OpenSans";
    font-style: bold;
    font-size: 29px;
    top: 1000px;
    left: 1530px;
    width: 105px;
    height: 36px;
}
.flecha_arriba{
    position: absolute;
    top: 50px;
    left: 1820px;
    width: 34px;
    height: 24px;
}
.flecha_abajo{
    position: absolute;
    top: 950px;
    left: 1820px;
    width: 34px;
    height: 24px;
}
.texto_valor{
    font-family: "OpenSans";
    font-style: normal;
    position: absolute;
    color: #ffffff;
    font-size: 30px;
    top: 200px;
    left: 1800px;
    width: 34px;
    height: 24px;
}
.valor_1{
    font-family: "OpenSans";
    font-style: normal;
    position: absolute;
    color: #a79b9b;
    font-size: 30px;
    top: 400px;
    left: 1790px;
    width: 34px;
    height: 24px;  
}
.valor_2{
    font-family: "OpenSans";
    font-style: normal;
    position: absolute;
    color: #ffffff;
    font-size: 30px;
    top: 500px;
    left: 1790px;
    width: 34px;
    height: 24px;  
}
.valor_3{
    font-family: "OpenSans";
    font-style: normal;
    position: absolute;
    color: #a79b9b;
    font-size: 30px;
    top: 600px;
    left: 1790px;
    width: 34px;
    height: 24px;  
}
.saldo{
    position: absolute;
    font-family: "OpenSans";
    font-style: bold;
    font-size: 40px;
    top: 750px;
    left: 700px;
}
.texto{
    position: absolute;
    border-radius: 20px;
    font-family: "OpenSans";
    font-style: bold;
    font-size: 40px;
    top: 830px;
    left: 630px;
    width: 410px;
    height: 65px;
    text-align: center;
}
.texto::-webkit-inner-spin-button, 
.texto::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}