body{
    background-color: rgb(180, 151, 151);
}
.miflex{
    display: flex;
    align-items: center;
    background-color: rgb(80, 95, 128);
    flex-wrap: wrap;
    border-radius: 10px;
}
.miflex > div{
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    flex-grow: 1;
}
h1{
   text-align: center;
}
.recomendados{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: rgb(114, 137, 153);
}
.recomendados > div{
    background-color: #f1f1f1;
    margin: 2%;
    padding: 2%;
    text-align: center;
    font-size: 30px;
    flex-grow: 1;
    flex-basis: 25%;
}
p{
    color: rgb(22, 105, 237);
    border: 1px solid;
    border-color: black;
}
img{
    width: 30%;
}